@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<div class="well">
    <div class="row">
        <div class="col-md-6">
            <div class="table">
                <table id="dt1" class="table-customAU table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>